@using Site.Areas.w7painel.Models
@using Site.Areas.w7painel.Models.ViewModel
@model Grupo

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Grupo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <ul>
           @foreach (var plugin in (List<Plugin>)ViewBag.Plugins)
        {
            <p>@plugin.Nome</p>

            var dados = (List<PermissoesAssociadasAoGrupo>)ViewBag.Permissoes;
            var permissoes = dados.Where(x => x.Permissao.Plugin.Id == plugin.Id).ToList();
            <ul>
                @foreach (var permissaoAssociada in permissoes)
                {
                    <li>
                        <input type="checkbox" 
                               name="permissoesSelecionadas" 
                               value="@permissaoAssociada.Permissao.Id" 
                            @(Html.Raw(permissaoAssociada.Associado ? "checked=\"checked\"" : "")) />
                        @permissaoAssociada.Permissao.Id @permissaoAssociada.Permissao.Nome
                    </li>
                }
            </ul>
        }
        </ul>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
